.DS_Store
*/**/.DS_Store
node_modules
dist
npm-debug.log
ansible/venv
config/nodes.js
*~
*.swp
*.pem
.node-xmlhttprequest-*
ws_secret.json
stats.json
.env
.next
.vscode
next-env.d.ts
.env*
tsconfig.tsbuildinfo
.vscode/

# Build and runtime files
*.log
.cache/
.vercel/
.turbo/

# OS specific files
Thumbs.db